---
import BlogLayout from '../../../layouts/BlogLayout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const blogs = await getCollection('blogs')
  const paths = blogs.map((blog: any) => {
    return {
      params: {
        title: blog.slug
      },
      props: blog
    }
  })
  return paths
}

const { data, body, render } = Astro.props
const { title, date, tags, image } = data
const { Content } = await render()
---

<BlogLayout title=`Dataflow | ${title}`>
  <section class='px-[8%] py-[80px] max-sm:py-[40px] pb-[140px]'>
    <!-- Breadcrumb -->
    <nav aria-label='breadcrumb'>
      <ol class='pb-2 breadcrumb'>
        <li class='breadcrumb-item'><a href='/'>Home</a></li>
        <li class='breadcrumb-item'><a href='/blogs/1'>Blog</a></li>
        <li class='breadcrumb-item active' aria-current='page'>
          {title}
        </li>
      </ol>
    </nav>

    <h1 class='display-4 mb-[20px]'>
      {title}
    </h1>
    <div class='flex flex-wrap items-center gap-[8px]'>
      <p class='text-nav'>{date}</p>
      <span class='fs-xs opacity-20'>|</span>
      {
        tags.map((tag: string) => (
          <p class='badge text-nav border '>
            <span class='text-primary'>#</span>
            {tag}
          </p>
        ))
      }
    </div>

    {
      image && (
        <img
          src={image}
          alt='Blog Image'
          class='w-full h-[400px]  my-[40px] mb-[50px] object-cover rounded-lg'
        />
      )
    }
    <!-- Blog Content -->
    <div class='mt-4 prose w-full max-w-none md:prose-img:max-w-[60%] prose-img:mx-auto prose-img:rounded-lg'>
      <Content />
    </div>
  </section>
</BlogLayout>
