---
import { getEntry } from "astro:content";
const Data = await getEntry("comman", "footerheader");
const footer = Data.data.footer;
const docsUrl = import.meta.env.VITE_DOCS_URL 

---


<footer>
  <div class="py-[20px] w-full flex items-center justify-center bg-[#2FB7B8]">
   
  </div>
  <div class="footer-container w-full flex px-[5%] py-[50px]">
    <div class="first-section w-[30%] mt-2 bg-white flex  flex-col items-start justify-start">
      <a href="/"><img src="/assets/images/greenlogo.png" class="h-12" /></a>
      <p class="text-xs text-textblack mt-[20px] w-5/6">{footer.description}</p>
      <div class=" w-4/5  mt-6">
        <button class="h-7 w-7 rounded-full bg-[#F6F0E1] hover:bg-[#30BABA]  p-2"><img src="/assets/images/linkedin.png" /></button>
        <button class="h-7 w-7 rounded-full bg-[#F6F0E1] hover:bg-[#30BABA] ml-3 p-2"><img src="/assets/images/xcom.svg" /></button>
      </div>
      <p class="text-[#858C97] text-xs mt-[40px]">{footer.copyrights}</p>
    </div>
    <div class="w-[20%] flex flex-col pt-[20px] gap-y-3">
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;" href="/"
        ><p>{footer.section1.link1}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href="/Pricing"
        ><p>{footer.section1.link2}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href={docsUrl}
        ><p>{footer.section1.link3}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href="/Company"
        ><p>{footer.section1.link4}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href="/blog"
        ><p>{footer.section1.link5}</p></a
      >
    </div>
    <div class="w-[30%] flex flex-col pt-[20px] pr-[5%] gap-y-3">
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href="/RunDataAnyCloud"
        ><p>{footer.section2.link1}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href="/ManageYourData"
        ><p>{footer.section2.link2}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href="/pythondependency"
        ><p>{footer.section2.link3}</p></a
      >
    </div>
    <div class="w-[30%] flex flex-col pt-[20px] gap-y-3">
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href="/BookDemo"
        ><p>{footer.section3.link1}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href="/Contact-us"
        ><p>{footer.section3.link2}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"  href="/Termsandconditions"
        ><p>{footer.section3.link3}</p></a
      >
    </div>
    <div class="w-[20%] flex flex-col pt-[20px] gap-y-3">
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"
        ><p>{footer.section4.link1}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"
        ><p>{footer.section4.link2}</p></a
      >
      <a class="text-[15px] text-textblack hover:text-primary" style="font-family: Arimo;"
        ><p>{footer.section4.link3}</p></a
      >
    </div>
  </div>
</footer>

<style>
  @media (max-width: 500px) {
  footer {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
    padding: 20px;
  }

  .footer-container > div {
    width: 100%;
    padding: 10px 0;
  }

  .footer-container .first-section {
    order: 5;
  }

  .footer-container a p:hover {
    color: var(--test-primary);
  }
}

</style>
