---
import { getEntry } from 'astro:content'
const Data = await getEntry('comman', 'footerheader')
const footer = Data.data.footer
const docsUrl = import.meta.env.VITE_DOCS_URL
---

<footer>
  <div
    class='footer-container bg-gray-900 w-full flex flex-col gap-1 pt-10 pb-8 px-20 text-white'
  >
    <div class='w-full flex justify-center py-1'>
      <a href='/'
        ><img src='/assets/images/dataflow-logo-green.svg' class='h-14' /></a
      >
    </div>
    <div class='flex'>
      <div class='p-5 flex-1 flex flex-col'>
        <p
          class='text-xs px-1 text-wrap leading-relaxed tracking-wide text-[#F8FAFC]'
        >
          {footer.description}
        </p>
        <div class='my-4 flex items-center'>
          <button
            class='size-8 rounded-full bg-[#30baba31] hover:bg-[#30BABA] mx-1 flex justify-center items-center'
            ><img
              src='/assets/images/icon-linkedin.svg'
              class='size-4 '
            /></button
          >
          <button
            class='size-8 rounded-full bg-[#30baba31] hover:bg-[#30BABA] mx-1 flex justify-center items-center'
            ><img src='/assets/images/icon-x.svg' class='size-4' /></button
          >
        </div>
        <p class='text-xs'>{footer.copyrights}</p>
      </div>
      <div class='p-5 flex-1 flex flex-col'>
        <p class='font-semibold text-base'>Company</p>
        <div class='text-xs text-[#F8FAFC] w-[80%]'>
          <a class='hover:text-primary' href='/'
            ><p class='my-2'>{footer.section1.link1}</p></a
          >
          <a class='hover:text-primary' href='/Pricing'
            ><p class='my-2'>{footer.section1.link2}</p></a
          >
          <a class='hover:text-primary' href={docsUrl}
            ><p class='my-2'>{footer.section1.link3}</p></a
          >
          <a class='hover:text-primary' href='/Company'
            ><p class='my-2'>{footer.section1.link4}</p></a
          >
          <a class='hover:text-primary' href='/blog'
            ><p class='my-2'>{footer.section1.link5}</p></a
          >
        </div>
      </div>
      <div class='p-5 flex-1 flex flex-col'>
        <p class='font-semibold text-base'>Product</p>
        <div class='text-xs text-[#F8FAFC] w-[80%]'>
          <a class='hover:text-primary' href='/'
            ><p class='my-2'>{footer.section2.link1}</p></a
          >
          <a class='hover:text-primary' href='/Pricing'
            ><p class='my-2'>{footer.section2.link2}</p></a
          >
          <a class='hover:text-primary' href={docsUrl}
            ><p class='my-2'>{footer.section2.link3}</p></a
          >
        </div>
      </div>
      <div class='p-5 flex-1 flex flex-col'>
        <p class='font-semibold text-base'>Help</p>
        <div class='text-xs text-[#F8FAFC] w-[80%]'>
          <a class='hover:text-primary' href='/'
            ><p class='my-2'>{footer.section3.link1}</p></a
          >
          <a class='hover:text-primary' href='/Pricing'
            ><p class='my-2'>{footer.section3.link2}</p></a
          >
          <a class='hover:text-primary' href={docsUrl}
            ><p class='my-2'>{footer.section3.link3}</p></a
          >
        </div>
      </div>
      <div class='p-6 flex-1 flex flex-col'>
        <p class='font-semibold text-base'>Contact Info</p>
        <div class='text-xs text-[#F8FAFC] w-[80%]'>
          <a class='hover:text-primary' href='/'
            ><p class='my-2'>{footer.section4.link1}</p></a
          >
          <a class='hover:text-primary' href='/Pricing'
            ><p class='my-2'>{footer.section4.link2}</p></a
          >
          <a class='hover:text-primary' href={docsUrl}
            ><p class='my-2'>{footer.section4.link3}</p></a
          >
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  @media (max-width: 500px) {
    footer {
      flex-direction: column;
    }

    .footer-container {
      flex-direction: column;
      padding: 20px;
    }

    .footer-container > div {
      width: 100%;
      padding: 10px 0;
    }

    .footer-container .first-section {
      order: 5;
    }

    .footer-container a p:hover {
      color: var(--test-primary);
    }
  }
</style>
