---
import { getEntry } from "astro:content";
const Data = await getEntry("comman", "footerheader");
 const header = Data.data.header;

---

<header class="h-20 w-full  flex items-center justify-evenly bg-[#30BABA]">
          
  <a href="/"><img src="/assets/images/logoheader.png" class="h-10"/></a>
  
   <div class="h-20 w-1/2  flex items-center justify-center">
  <nav class=" h-20 w-4/5 flex items-center justify-between">
    <a href="/"> <p class=" text-white text-base font-medium hover:border-b-2 border-white"  style="font-family:Arial, Helvetica, sans-serif">{header.nav1}</p> </a>
    <a href=""> <p class=" text-white text-base font-medium hover:border-b-2 border-white"  style="font-family:Arial, Helvetica, sans-serif">{header.nav2}</p> </a>
    <a href="/learn"> <p class=" text-white text-base font-medium hover:border-b-2 border-white"  style="font-family:Arial, Helvetica, sans-serif">{header.nav3}</p> </a>
    <a href="/Company"> <p class=" text-white text-base font-medium hover:border-b-2 border-white" style="font-family:Arial, Helvetica, sans-serif">{header.nav4}</p> </a>
    <a href="/blog"> <p class=" text-white text-base font-medium hover:border-b-2 border-white"  style="font-family:Arial, Helvetica, sans-serif">{header.nav5}</p> </a>
  </nav>
   </div>
   <a href="/BookDemo">
  <button class="ease-in duration-300 px-5 py-2 bg-white rounded-md  text-base font-medium border-2 shadow-md text-[#30BABA] ml-10 hover:bg-[#30BABA] hover:text-white hover:translate-y-1"  style="font-family:Arial, Helvetica, sans-serif">{header.button}</button>
</a>
</header>


