---
import { getEntry } from 'astro:content'
const Data = await getEntry('comman', 'footerheader')
const header = Data.data.header
const { pagename } = Astro.props
const docsUrl = import.meta.env.VITE_DOCS_URL
---

<header
  class='h-14 w-full flex items-center justify-between bg-[#30BABA] px-[22px]'
>
  <div class='flex items-center gap-16 p-[5px] pt-[9px]'>
    <a href='/' class="">
      <img src='/assets/images/dataflow-logo-header.svg' class='h-12' />
    </a>
    <nav class='hidden md:flex h-12 items-baseline  mt-[5px] '>
      <div
        class='flex items-center justify-between tracking-wide h-full gap-[6px]'
      >
        <a
          href='/'
          id='nav1'
          class='DataFlow h-full border-b-[3px] mb-[2px] border-transparent px-[18px] flex items-center hover:border-[#EFFFFF] hover:border-opacity-70'
        >
          <p class='text-white text-sm font-semibold'>
            {header.nav1}
          </p>
        </a>
        <a
          href='/Pricing'
          id='nav2'
          class='Pricing h-full border-b-[3px] mb-[2px] border-transparent px-[18px] flex items-center hover:border-[#EFFFFF] hover:border-opacity-70'
        >
          <p class='text-white text-sm font-semibold'>
            {header.nav2}
          </p>
        </a>
        <a
          href='/best-in-class-data-tools'
          id='nav3'
          class='LearnMore h-full border-b-[3px] mb-[2px] border-transparent px-[18px] flex items-center hover:border-[#EFFFFF] hover:border-opacity-70'
        >
          <p class='text-white text-sm font-semibold'>
            {header.nav3}
          </p>
        </a>
        <a
          href='/Company'
          id='nav4'
          class='Company h-full border-b-[3px] mb-[2px] border-transparent px-[18px] flex items-center hover:border-[#EFFFFF] hover:border-opacity-70'
        >
          <p class='text-white text-sm font-semibold'>
            {header.nav4}
          </p>
        </a>
        <a
          href='/blogs/1'
          id='nav5'
          class='blog h-full border-b-[3px] mb-[2px] border-transparent px-[18px] flex items-center hover:border-[#EFFFFF] hover:border-opacity-70'
        >
          <p class='text-white text-sm font-semibold'>
            {header.nav5}
          </p>
        </a>
        <a
          href={docsUrl}
          target='_blank'
          class='h-full border-b-[3px] mb-[2px] border-transparent px-[18px] flex items-center hover:border-[#EFFFFF] hover:border-opacity-70'
        >
          <p class='text-white text-sm font-semibold flex items-center gap-1'>
            {header.nav6}
            <img
              src='/assets/images/icon-redirect-page.svg'
              alt='redirect'
              class='size-6'
            />
          </p>
        </a>
      </div>
    </nav>
  </div>

  <div class='hidden md:flex items-center gap-[6px]'>
    <a href='/GetStartedForm'>
      <button
        class='px-[16px] py-[8px] hover:bg-[#3AC4C4] text-white rounded-md text-sm font-bold tracking-wide'
        >{header.button_1}</button
      >
    </a>
    <a href='/BookDemo'>
      <button
        class='px-[16px] py-[8px] bg-white hover:bg-[#f9f9f9] rounded-md text-sm font-bold tracking-wide shadow-md text-[#30BABA]'
        >{header.button_2}</button
      >
    </a>
  </div>

  <div class='md:hidden flex items-center'>
    <button id='burgerMenuButton' class='text-white focus:outline-none'>
      <svg
        class='w-8 h-8'
        fill='none'
        stroke='currentColor'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M4 6h16M4 12h16m-7 6h7'></path>
      </svg>
    </button>
  </div>
</header>

<div
  id='mobileMenu'
  class='fixed top-0 left-0 w-full h-full bg-[#30BABA] transform -translate-x-full transition-transform duration-300 ease-in-out z-50'
>
  <div class='h-20 w-full flex items-center justify-between px-4'>
    <a href='/'><img src='/assets/images/logoheader.png' class='h-10' /></a>
    <button id='closeMenuButton' class='text-white focus:outline-none'>
      <svg
        class='w-8 h-8'
        fill='none'
        stroke='currentColor'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M6 18L18 6M6 6l12 12'></path>
      </svg>
    </button>
  </div>
  <nav class='flex flex-col items-center mt-10'>
    <a
      href='/'
      class='text-white text-base font-bold py-2'
      id='nav1-mobile'
      style='font-family: Arial, Helvetica, sans-serif'>{header.nav1}</a
    >
    <a
      href='/Pricing'
      class='text-white text-base font-bold py-2'
      id='nav2-mobile'
      style='font-family: Arial, Helvetica, sans-serif'>{header.nav2}</a
    >
    <a
      href={docsUrl}
      class='text-white text-base font-bold py-2'
      id='nav3-mobile'
      style='font-family: Arial, Helvetica, sans-serif'>{header.nav3}</a
    >
    <a
      href='/Company'
      class='text-white text-base font-bold py-2'
      id='nav4-mobile'
      style='font-family: Arial, Helvetica, sans-serif'>{header.nav4}</a
    >
    <a
      href='/blogs/1'
      class='text-white text-base font-bold py-2'
      id='nav5-mobile'
      style='font-family: Arial, Helvetica, sans-serif'>{header.nav5}</a
    >
    <div class='flex flex-col mt-4 items-center'>
      <a href='/StartFreeTrial'>
        <button
          class='px-[20px] py-[8px] text-white rounded-md text-base font-bold tracking-wide'
          >{header.button_1}</button
        >
      </a>
      <a href='/BookDemo'>
        <button
          class='px-[20px] py-[8px] bg-white rounded-md text-base font-bold tracking-wide shadow-md text-[#30BABA]'
          >{header.button_2}</button
        >
      </a>
    </div>
  </nav>
  <p id='helper' class='hidden'>{pagename}</p>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const burgerMenuButton = document.getElementById('burgerMenuButton')
    const mobileMenu = document.getElementById('mobileMenu')
    const closeMenuButton = document.getElementById('closeMenuButton')
    const helperText = document.getElementById('helper').innerText.trim()
    const navElement = document.querySelector(`.${helperText}`)

    if (navElement) {
      navElement.classList.remove('border-transparent')
      navElement.classList.remove('hover:border-[#EFFFFF]')
      navElement.classList.remove('hover:border-opacity-70')
      navElement.classList.add('border-[#fff]')
    }

    burgerMenuButton.addEventListener('click', () => {
      mobileMenu.classList.remove('-translate-x-full')
      mobileMenu.classList.add('translate-x-0')
    })

    closeMenuButton.addEventListener('click', () => {
      mobileMenu.classList.remove('translate-x-0')
      mobileMenu.classList.add('-translate-x-full')
    })
  })
</script>

<style>
  @media (max-width: 470px) {
    .md\\:hidden {
      display: block;
    }
  }
</style>
