---
import { getEntry } from 'astro:content'
const Data = await getEntry('Pythondependencypage', 'data')
const data = Data.data
const button = Data.data.button
import Imagecard from '../ManageDataEfficiently/Imagecard.astro'
---

<div class='container-top w-full py-24 flex items-center justify-center'>
  <div class='text-container w-2/5'>
    <h1 class='text-2calc font-bold mb-8 text-textblack'>{data.title3}</h1>
    <p class='text-lg w-10/12 text-textblack'>{data.description3}</p>
    <a href='/GetStartedForm'>
      <button
        class='custom-button bg-secondary px-3 py-2 duration-700 text-white rounded-lg shadow-md flex text-base items-center gap-x-2 mt-14 hover:-translate-y-1'
        style='font-family: Roboto;'
      >
        {button}
        <img
          class='button-img'
          src='/assets/images/arrowright.svg'
          alt='Arrow right'
        />
      </button>
    </a>
  </div>
  <div
    class='w-2/5 h-[60vh] img-container flex flex-row flex-wrap items-between justify-between'
  >
    <Imagecard
      image='/assets/images/pythondatadependencyfeaturemage1.png'
      title={data.image1}
    />
    <Imagecard
      image='/assets/images/manageyourdatasection3image2.png'
      title={data.image2}
    />
    <Imagecard
      image='/assets/images/pythondatadependencyfeaturemage3.png'
      title={data.image3}
    />
    <Imagecard
      image='/assets/images/pythondatadependencyfeaturemage4.png'
      title={data.image4}
    />
  </div>
</div>
<style>
  .custom-button:hover {
    background-color: #30baba;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 440px) {
    .container-top {
      width: 100%;
      height: auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: column;
    }
    .text-container {
      width: 100%;
      margin-bottom: 40px;
    }
    .img-container {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
      height: auto;
    }
  }
</style>
