---
import { getEntry } from 'astro:content'
import CustomButton from '../common/CustomButton.astro'
const Data = await getEntry('company', 'company')
const data = Data.data.join_our_team
---

<div
  class='w-full px-[10%] py-40 my-12 max-sm:my-2 max-sm:py-20 flex max-sm:flex-col max-sm:gap-y-8 items-center justify-center bg-[#F8FAFC]'
>
  <div class='w-2/6 max-sm:w-[90%] flex flex-col gap-y-3' data-aos="fade-right" data-aos-duration="700" data-aos-offset="200">
    <h2 class='text-4xl text-textblack font-extrabold'>{data.title}</h2>
    <div class='h-3 w-24 bg-primary rounded-lg'></div>
    <p class='text-xl text-[#576071] mb-7 max-sm:mb-4 w-9/12 leading-relaxed'>
      {data.subtitle}
    </p>
    <CustomButton 
      label={data.button.label}
      href={data.button.href}
      target={data.button.target}
      iconSrc={data.button.iconSrc}
    />
  </div>
  <div class='w-[50%] max-sm:w-[90%]' data-aos="fade-left" data-aos-duration="700" data-aos-offset="200">
    <h2 class='text-calc text-textblack font-bold mb-7'>{data.heading}</h2>
    <p class='text-lg text-textblack'>{data.description}</p>
  </div>
</div>
