---
import { getEntry } from 'astro:content'

const Data = await getEntry('company', 'company')
const data = Data.data.Topsection
---

<div class='min-h-[800px] max-sm:min-h-[600px] w-full pt-[5%] overflow-x-hidden'>
  <p
    class='pl-[15%] max-md:pl-[10%] max-sm:pl-2 text-7xl max-md:text-5xl font-bold text-textblack leading-tight font-helvetica-neue'
  >
    <span class='text-primary leading-tight'>{data.titlepart1}</span>
    <span>{data.titlepart2}</span><br /><span>{data.titlepart3}</span>
    <span class='text-primary leading-tight'>{data.titlepart4}</span><br /><span
      >{data.titlepart5}</span
    >
  </p>
  <div class='w-full mt-20 max-sm:scale-[150%]'>
    <img
      loading='eager'
      src='/assets/images/simplify-data-processing.svg'
      alt='Simplify Data Processing '
      class='w-full max-sm:-ml-6'
    />
  </div>
</div>
