---
import { getEntry } from 'astro:content'

const Data = await getEntry('company', 'company')
const data = Data.data.Topsection
---

<div
    class='h-[800px] max-sm:h-[450px] w-full pt-[5%] pl-[15%] max-md:pl-[10%] max-sm:pl-2 relative'
>
    <p class='text-7xl max-md:text-5xl font-bold text-textblack leading-tight font-inter'>
        <span class='text-primary leading-tight'>{data.titlepart1}</span>
        <span>{data.titlepart2}</span><br /><span>{data.titlepart3}</span>
        <span class='text-primary leading-tight'>{data.titlepart4}</span><br /><span
            >{data.titlepart5}</span>
    </p>
    <div class="absolute bottom-0 z-[-1] w-full left-0 overflow-hidden">
        <img src="/public/assets/images/simplify-data-processing.svg" alt="Simplify Data Processing" class="w-full">
    </div>
</div>

