---
import { getEntry } from 'astro:content'
const Data = await getEntry('pricing', 'section4')
const data = Data.data
---

<div
  class='containersection4 w-full py-24 flex items-center justify-center px-[10%]'
>
  <div class='w-1/2 flex items-center justify-center width100'>
    <img src='/assets/images/24-7-support.png' class='w-[80%]' />
  </div>
  <div class='w-1/2'>
    <div class='max-sm:w-full flex flex-col items-start gap-y-6 width100'>
      <h3 class='font-bold text-2calc text-textblack mb-3'>
        {data.title}
      </h3>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description1}</p>
      </div>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description2}</p>
      </div>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description3}</p>
      </div>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description4}</p>
      </div>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description5}</p>
      </div>
    </div>
    <div class='mt-10'>
      <a
        href='/Contact-us'
        class='p-3 px-4 w-max font-semibold rounded-lg text-sm bg-primary hover:bg-primaryHover duration-300 text-white mt-4'
      >
        Contact Us
      </a>
    </div>
  </div>
</div>

<style>
  @media (max-width: 600px) {
    .containersection4 {
      flex-direction: column;
      row-gap: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .width100 {
      width: 100%;
      padding-right: 0%;
    }
  }
</style>
