---
import { getEntry } from 'astro:content'
const Data = await getEntry('pricing', 'section3')
const data = Data.data
---

<div
   class='containersection3 w-full py-24 flex items-center justify-center px-[10%]'
>
   <div class='w-1/2 flex flex-col items-start gap-y-6 pr-10 width100'>
      <h3 class='font-bold text-2calc text-textblack mb-3'>
         {data.title}
      </h3>
      <div class='flex items-start gap-x-5'>
         <img src='/assets/images/pricingpagecircletick.png' />
         <p class='text-xl text-textblack'>{data.description1}</p>
      </div>
      <div class='flex items-start gap-x-5'>
         <img src='/assets/images/pricingpagecircletick.png' />
         <p class='text-xl text-textblack'>{data.description2}</p>
      </div>
      <div class='flex items-start gap-x-5'>
         <img src='/assets/images/pricingpagecircletick.png' />
         <p class='text-xl text-textblack'>{data.description3}</p>
      </div>
      <div class='flex items-start gap-x-5'>
         <img src='/assets/images/pricingpagecircletick.png' />
         <p class='text-xl text-textblack'>{data.description4}</p>
      </div>
      <div class='flex items-start gap-x-5'>
         <img src='/assets/images/pricingpagecircletick.png' />
         <p class='text-xl text-textblack'>{data.description5}</p>
      </div>
   </div>
   <div class='w-1/2 flex items-center justify-center width100'>
      <img src='/assets/images/pricingsection3.png' />
   </div>
</div>

<style>
   @media (max-width: 600px) {
      .containersection3 {
         flex-direction: column-reverse;
         row-gap: 20px;
         padding-top: 40px;
         padding-bottom: 40px;
      }
      .width100 {
         width: 100%;
         padding-right: 0%;
      }
   }
</style>
