---
import { getEntry } from 'astro:content'
const Data = await getEntry('pricing', 'section3')
const data = Data.data
---

<div class='min-h-[250px] flex justify-center items-end'>
  <p class='text-[45px] text-textblack font-bold'>Additional Support</p>
</div>
<div
  class='containersection3 w-full py-24 flex items-center justify-center px-[10%]'
>
  <div class='w-1/2'>
    <div class='flex flex-col items-start gap-y-6 pr-10 width100'>
      <h3 class='font-bold text-2calc text-textblack mb-3'>
        {data.title}
      </h3>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description1}</p>
      </div>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description2}</p>
      </div>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description3}</p>
      </div>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description4}</p>
      </div>
      <div class='flex items-start gap-x-5'>
        <img src='/assets/images/pricingpagecircletick.png' />
        <p class='text-lg text-textblack'>{data.description5}</p>
      </div>
    </div>
    <div class='mt-10'>
      <a
        href='/Apps'
        class='p-3 px-4 w-max font-semibold rounded-lg text-sm bg-primary hover:bg-primaryHover duration-300 text-white mt-4'
      >
        Learn More
      </a>
    </div>
  </div>
  <div class='w-1/2 flex items-center justify-center'>
    <img src='/assets/images/data-analytics.png' class='w-[80%]' />
  </div>
</div>

<style>
  @media (max-width: 600px) {
    .containersection3 {
      flex-direction: column-reverse;
      row-gap: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
</style>
