---
const { data, mirror = false, image } = Astro.props
---

<div
  class=`containersection4 w-full py-24 flex ${mirror && 'flex-row-reverse'} items-center justify-center px-[10%] max-sm:px-[5%] max-sm:mb-8`
>
  <div class='w-1/2 flex items-center justify-center width100'>
    <img 
      src={image} 
      class='w-[80%] opacity-0 transition-opacity duration-700 fadein-image' 
      loading="lazy"
      onload="this.classList.add('opacity-100')"
    />
  </div>
  <div class='w-1/2 max-sm:w-full'>
    <div class='max-sm:w-full flex flex-col items-start gap-y-6 width100'>
      <h3 class='font-bold text-2calc text-textblack mb-3'>
        {data.title}
      </h3>

      {
        data.support.map((support) => (
          <div class='flex items-center gap-x-3'>
            <img src='/assets/images/pricingpagecircletick.png' />
            <p class='text-lg text-textblack'>{support}</p>
          </div>
        ))
      }
    </div>
    <div class='mt-10'>
      <a
        href={data.href}
        class='p-3 px-4 w-max font-semibold rounded-lg text-sm bg-primary hover:bg-primaryHover duration-300 text-white mt-4'
      >
        {data.button}
      </a>
    </div>
  </div>
</div>

<style>
  @media (max-width: 600px) {
    .containersection4 {
      flex-direction: column;
      row-gap: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .width100 {
      width: 100%;
      padding-right: 0%;
    }
  }
</style>
