---
import Layout from '../layouts/Layout.astro'
import { getEntry } from 'astro:content'
const Data = await getEntry('comman', 'contact')
const data = Data.data
---

<Layout title='Book a demo'>
  <div class='flex items-center justify-center py-24'>
    <div
      class='formcontainer w-4/5 flex items-center justify-center 2xl:py-16 py-16 bg-[#F6F6F6] rounded-3xl p-[5%] shadow-lg'
    >
      <div class='titlecontainer flex flex-col items-start justify-start'>
        <h1 class='text-9calc font-bold text-textblack mb-10 w-4/5'>
          {data.title}
        </h1>
        <p class='text-lg w-4/5 mb-10 text-textblack'>{data.description}</p>
        <img src='/assets/images/contactusimage.png' class='w-[70%]' />
      </div>
      <div
        class='colcontainer w-5/6 max-w-[600px] flex flex-col items-center justify-center rounded-2xl elevation-2'
      >
        <h3 class='text-0calc font-bold mb-[2%] text-textblack'>
          {data.form.title}
        </h3>
        <form id='myForm' class='w-full items-center justify-between'>
          <div
            class='w-full colcontainer h-20 flex items-center justify-between mb-[4%]'
          >
            <div
              class='h-full w-[47%] colcontainerchild flex flex-col justify-evenly'
            >
              <label class='text-base 2xl:text-lg font-bold text-textblack'
                >{data.form.label1}</label
              >
              <input
                required
                placeholder={data.form.placeholder1}
                class='custom-input border border-primary rounded-lg h-10 p-2'
                name='entry.1291198894'
              />
            </div>
            <div
              class='h-full w-[47%] colcontainerchild flex flex-col justify-evenly'
            >
              <label class='text-base 2xl:text-lg font-bold text-textblack'
                >{data.form.label2}</label
              >
              <input
                required
                type='email'
                placeholder={data.form.placeholder2}
                class='custom-input border border-primary rounded-lg h-10 p-2'
                name='entry.59580764'
              />
            </div>
          </div>
          <div
            class='w-full colcontainer h-20 flex items-center justify-between mb-[4%]'
          >
            <div
              class='h-full w-[47%] colcontainerchild flex flex-col justify-evenly'
            >
              <label class='text-base 2xl:text-lg font-bold text-textblack'
                >{data.form.label4}</label
              >
              <input
                required
                placeholder={data.form.placeholder4}
                class='custom-input border border-primary rounded-lg h-10 p-2'
                name='entry.1637227755'
              />
            </div>
            <div
              class='h-full w-[47%] colcontainerchild flex flex-col justify-evenly'
            >
              <label class='text-base 2xl:text-lg font-bold text-textblack'
                >{data.form.label5}</label
              >
              <select
                required
                id='options'
                class='custom-input border border-primary rounded-lg h-10 p-2'
                name='entry.1061557718'
                style='color: #9ca3b1;'
              >
                <option value='' disabled selected>Company Size</option>
                <option value='1-10'>1-10 employees</option>
                <option value='11-50'>11-50 employees</option>
                <option value='51-200'>51-200 employees</option>
                <option value='201-500'>201-500 employees</option>
                <option value='501-1000'>501-1000 employees</option>
                <option value='1001-5000'>1001-5000 employees</option>
                <option value='5001-10000'>5001-10,000 employees</option>
                <option value='10001+'>10,001+ employees</option>
              </select>
            </div>
          </div>
          <input type='hidden' name='entry.664159867' value='Contact-us' />
          <div class='w-full flex flex-col justify-between mb-[2%]'>
            <label class='text-base 2xl:text-lg font-bold mb-2 text-textblack'
              >{data.form.label3}</label
            >
            <textarea
              required
              name='entry.1056515558'
              placeholder={data.form.placeholder3}
              class='custom-input border border-primary rounded-lg p-2'
              rows='3'
              cols='30'
              style='resize:none'></textarea>
          </div>
          <div class='w-full flex items-center justify-start mb-3'>
            <input type='checkbox' required class='typecheckbox ml-3 w-4 h-4' />
            <p class='text-gray-500 ml-3 my-3'>
              {data.form.terms}<span
                ><a
                  href='/Termsandconditions'
                  class='ml-2 underline underline-offset-4 text-primary'
                  >{data.form.link}</a
                ></span>
            </p>
          </div>
          <button
            type='submit'
            class='bottombutton custom-button text-lg bg-primary w-full h-12 flex items-center justify-center duration-300 text-white font-bold rounded-lg shadow-md flex text-base items-center gap-x-2 hover:-translate-y-1'
            style='font-family: Roboto;'
          >
            {data.form.button}<img
              class='button-img'
              src='/assets/images/arrowright.svg'
              alt='Arrow Right'
            />
          </button>
        </form>
      </div>
    </div>
  </div>
</Layout>
<script type='module'>
  document
    .getElementById('myForm')
    .addEventListener('submit', async function (event) {
      event.preventDefault()

      const formData = new FormData(this)
      const url =
        'https://docs.google.com/forms/u/0/d/e/1FAIpQLSeGjuyA_jjDmmT4jTY96s0CgCL_JKOJlNrTRqJ-9iqRmlEPKw/formResponse'

      try {
        const response = await fetch(url, {
          method: 'POST',
          mode: 'no-cors',
          body: formData
        })

        const formContainer = document.querySelector('.formcontainer')
        formContainer.style.padding = '0' // Remove padding
        formContainer.style.border = '1px solid white' // Add a white border

        formContainer.innerHTML = `
        <div class="innercard w-[95%] h-[500px] m-5 text-center bg-primary flex flex-col items-center justify-center rounded-3xl">
          <img src="/assets/images/circle-tick.svg" alt="Success" class="mx-auto mb-4"/>
          <p class="text-white text-xl font-bold" >Thank You</p> 
          <p class="text-white text-base" >Form Submitted Successfully. We will reach you shortly.</p> 
          <button id="submit-another-form" class="text-white text-lg text-center underline mt-5" >Submit another form</button>
        </div>
      `

        document
          .getElementById('submit-another-form')
          .addEventListener('click', function () {
            location.reload() // Reload the page
          })

        document.getElementById('myForm').reset()
      } catch (error) {
        let text = 'Error in form Submission'
        document.getElementById('result').style.color = 'red'
        document.getElementById('result').innerHTML = text
      }
    })
  document.getElementById('options').addEventListener('change', function () {
    this.style.color = '#303030'
  })
</script>
<style>
  .custom-button:hover {
    background-color: #1dd0d5;
  }
  .button-img {
    filter: brightness(0) invert(1);
  }
  .custom-input:focus {
    border-color: #1dd0d5;
    outline: none;
  }
  input[type='checkbox'] {
    accent-color: rgb(0, 164, 156);
  }

  @media (max-width: 650px) {
    .formcontainer {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      padding-left: 10px;
      padding-right: 10px;
      height: auto;
    }
    .titlecontainer {
      align-items: center;
    }
    .container-child-1 {
      width: 100%;
    }
    .container-child-2 {
      width: 100%;
      margin: 0%;
    }
    .colcontainer {
      flex-direction: column;
      height: auto;
      column-gap: 20px;
      width: 100%;
    }
    .colcontainerchild {
      width: 100%;
      margin-top: 20px;
    }
  }
  .innercard {
    animation: fadeout 1s linear forwards;
  }
  @keyframes fadeout {
    0% {
      width: 0%;
      height: 0%;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }
</style>
