---
import Layout from '../layouts/Layout.astro'
import TopSection from '../components/common/TopSection.astro'
import TwoColumnSection from '../components/common/TwoColumnSection.astro'
import { getEntry } from 'astro:content'
import Testimonial from '../components/common/Testimonial.astro'
import CTASection from '../components/common/CTASection.astro'
import CustomButton from '../components/common/CustomButton.astro'

const Data = await getEntry('enterprise', 'enterprise')
const top = Data?.data?.top_section || {}
const meta_description = top.description ?? 'Enterprise'
const sections = Data?.data?.sections || []
const sectionCta = Data?.data?.section_cta || {}
const cta = Data?.data?.cta_section || {}
---

<Layout title={`Dataflow | Enterprise`} meta_description={meta_description}>
	<TopSection
		title={top.title}
		description={top.description}
		image={top.hero_image}
		buttonText={top.button?.label}
		buttonHref={top.button?.href}
		imageSide="right"
		bg="white"
	/>
	{
		sections.map((sec, idx) => (
			<TwoColumnSection
				title={sec.title}
				description={sec.description}
				image={sec.image}
				imageSide={sec.imageSide ?? 'right'}
				bg={idx % 2 === 0 ? 'white' : 'F8FAFC'}
			/>
		))
	}
	
	{sectionCta && sectionCta.label && (
		<div class='flex justify-center py-16 bg-white'>
			<CustomButton
				label={sectionCta.label}
				href={sectionCta.href}
				variant="primary"
				className="px-8 py-3 text-lg font-medium"
			/>
		</div>
	)}
	
	<Testimonial />
	<CTASection
		title={cta.title}
		description={cta.description}
		buttonText={cta.button?.text}
		formId="enterpriseCtaForm"
		pageSource="enterprise-cta"
		note={cta.note}
	/>
</Layout>