---
import Layout from '../layouts/Layout.astro'
import { getEntry } from 'astro:content'
const Data = await getEntry('comman', 'getstartedform')
const data = Data.data
---

<Layout title='Get Started'>
  <div
    class='w-full min-h-screen bg-[#F8FAFC] flex justify-center items-start py-20'
  >
    <div class='mt-[50px]'>
      <h1 class='text-9calc font-black mb-10 text-textblack'>
        {data.title1}<br />{data.title2}
      </h1>
      <ul
        style='list-style-type: disc; padding-left: 1.5rem;'
        class='w-[80%] font-semibold tracking-wide'
      >
        <li class='text-base mb-4 text-textblack'>
          {data.description[0]}
        </li>
        <li class='text-base mb-4 text-textblack'>
          {data.description[1]}
        </li>
        <li class='text-base mb-4 text-textblack'>
          {data.description[2]}
        </li>
        <li class='text-base mb-4 text-textblack'>
          {data.description[3]}
        </li>
      </ul>
    </div>
    <div
      class='flip-card w-[580px] h-max ml-10 bg-white rounded-[30px] border-[#E0E0E0] border-[1px] p-8'
    >
      <div class='flip-card-inner w-full h-full'>
        <div id='flip-card-front' class=''>
          <form id='myForm' class='w-full'>
            <div class='h-full w-full flex flex-col justify-evenly'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label1}</label
              >
              <input
                required
                placeholder={data.form.placeholder1}
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 placeholder:text-sm'
                name='entry.1291198894'
              />
            </div>
            <div class='h-full w-full flex flex-col justify-evenly'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label2}</label
              >
              <input
                required
                type='email'
                placeholder={data.form.placeholder2}
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 placeholder:text-sm'
                name='entry.59580764'
              />
            </div>
            <div class='h-full w-full flex flex-col justify-evenly'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label3}</label
              >
              <input
                required
                placeholder={data.form.placeholder3}
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 placeholder:text-sm'
                name='entry.1637227755'
              />
            </div>
            <div class='h-full w-full flex flex-col justify-evenly'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label4}</label
              >
              <select
                required
                id='option1'
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 text-textblack'
                name='entry.1061557718'
              >
                <option value='' class='' disabled selected>Company Size</option
                >
                <option value='1-10'>1-10 employees</option>
                <option value='11-50'>11-50 employees</option>
                <option value='51-200'>51-200 employees</option>
                <option value='201-500'>201-500 employees</option>
                <option value='501-1000'>501-1000 employees</option>
                <option value='1001-5000'>1001-5000 employees</option>
                <option value='5001-10000'>5001-10,000 employees</option>
                <option value='10001+'>10,001+ employees</option>
              </select>
            </div>
            <div class='w-full flex flex-col justify-between'>
              <label
                class='text-base font-bold text-textblack'
                style='font-family: Arimo; '>{data.form.label5}</label
              >
              <select
                required
                id='option2'
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 text-textblack'
                name='entry.154861476'
              >
                <option value='' class='' disabled selected
                  >{data.form.placeholder5}</option
                >
                <option value='search Engine'>Search Engine</option>
                <option value='social Media'>Social Media</option>
                <option value='referral'>Referral</option>
                <option value='advertisement'>Advertisement</option>
                <option value='other'>Other</option>
              </select>
            </div>
            <div class='w-full h-32 flex flex-col justify-between mb-[15px]'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label6}</label
              >
              <textarea
                required
                name='entry.1056515558'
                placeholder={data.form.placeholder6}
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-24 p-2 placeholder:text-sm'
                rows='20'
                cols='30'
                style='resize:none; margin-bottom: 10px;'></textarea>
            </div>
            <input type='hidden' name='entry.664159867' value='Get Started' />
            <button
              type='submit'
              class='bottom-0 bg-primary hover:bg-primaryHover w-full h-[50px] justify-center duration-300 text-white font-bold rounded-lg shadow-md flex text-base items-center gap-x-2'
              style='font-family: Roboto;'
            >
              Get Started <img
                class='button-img'
                src='/assets/images/arrowright.svg'
                alt='Arrow Right'
              />
            </button>
          </form>
        </div>
        <div class='flip-card-back hidden mb-10'>
          <img src='/assets/images/circle-tick.svg' />
          <p class='text-white text-calc font-bold text-center mt-7'>
            Thank You
          </p>
          <p class='text-white text-xl text-center'>
            Form Submitted Successfully. We will reach you shortly.
          </p>
          <button
            id='submit-another-form'
            class='text-white text-base text-center underline mt-5'
            >Submit an another form</button
          >
        </div>
      </div>
    </div>
  </div>
</Layout>

<script type='module'>
  document
    .getElementById('myForm')
    .addEventListener('submit', async function (event) {
      event.preventDefault()

      const formData = new FormData(this)
      const url =
        'https://docs.google.com/forms/u/0/d/e/1FAIpQLSeGjuyA_jjDmmT4jTY96s0CgCL_JKOJlNrTRqJ-9iqRmlEPKw/formResponse'

      try {
        const response = await fetch(url, {
          method: 'POST',
          mode: 'no-cors',
          body: formData
        })

        // Add class to show the back of the card
        document
          .getElementById('flip-card-front')
          .classList.add('flip-card-front')
        document.querySelector('.flip-card-inner').classList.add('flipped')

        // Display success message
        let text = 'Form Submitted Successfully. We will reach you shortly.'
        document.getElementById('result').innerHTML = text
        document.getElementById('myForm').reset()
      } catch (error) {
        // Display error message
        let text = 'Error in form Submission'
        document.getElementById('result').style.color = 'red'
        document.getElementById('result').innerHTML = text
      }
    })
  document
    .getElementById('submit-another-form')
    .addEventListener('click', function () {
      return location.reload() // Reload the page
    })

  document.getElementById('option1').addEventListener('change', function () {
    this.style.color = '#303030'
  })
  document.getElementById('option2').addEventListener('change', function () {
    this.style.color = '#303030'
  })
</script>

<style>
  .custom-button:hover {
    background-color: #1dd0d5;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }

  .custom-input:focus {
    border-color: #1dd0d5; /* Change this to your desired focus color */
    outline: none; /* Remove the default outline */
  }

  input,
  select,
  textarea {
    margin-bottom: 20px;
  }

  @media (max-width: 750px) {
    .colcontainer {
      flex-direction: column;
      height: auto;
      column-gap: 20px;
    }
  }

  .flip-card {
    min-height: 600px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  }

  .flip-card-inner.flipped {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-back {
    margin-top: 10px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1dcfd5;
    transform: rotateY(180deg);
    border-radius: 25px;
  }
</style>
