---
import Layout from '../layouts/Layout.astro'
import { getEntry } from 'astro:content'
const Data = await getEntry('comman', 'getstartedform')
const data = Data.data
---

<Layout title='Get Started' header={false}>
  <div
    id='Get-Started-Form'
    class='w-full relative min-h-screen bg-[#F8FAFC] flex justify-center max-sm:flex-col items-start py-20'
  >
    <div
      class='absolute top-10 left-10 max-sm:left-5 max-sm:top-5 size-14 max-sm:size-10 '
    >
      <a href='/Pricing'>
        <img src='/assets//icons/icon-previous.svg' alt='back' />
      </a>
    </div>
    <div class='max-sm:ml-5'>
      <img
        src='/assets/images/get-started.svg'
        alt='Get Started'
        class='max-sm:w-[90%]'
      />
      <p
        class='text-5xl text-[#202020] w-[90%] max-sm:text-3xl max-sm:mb-4 font-bold tracking-wider'
      >
        Please fill out the details
      </p>
    </div>
    <div
      class='flip-card w-[580px] max-sm:w-[90%] h-max ml-10 max-sm:ml-4 bg-white rounded-[30px] border-[#E0E0E0] border-[1px] p-8 max-sm:p-4 max-sm:py-6'
    >
      <div class='w-full h-full'>
        <div class=''>
          <form id='myForm' class='w-full'>
            <div class='h-full w-full flex flex-col justify-evenly'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label1}</label
              >
              <input
                required
                placeholder={data.form.placeholder1}
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 placeholder:text-sm'
                name='entry.1291198894'
              />
            </div>
            <div class='h-full w-full flex flex-col justify-evenly'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label2}</label
              >
              <input
                required
                type='email'
                placeholder={data.form.placeholder2}
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 placeholder:text-sm'
                name='entry.59580764'
              />
            </div>
            <div class='h-full w-full flex flex-col justify-evenly'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label3}</label
              >
              <input
                required
                placeholder={data.form.placeholder3}
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 placeholder:text-sm'
                name='entry.1637227755'
              />
            </div>
            <div class='h-full w-full flex flex-col justify-evenly'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label4}</label
              >
              <select
                required
                id='option1'
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 text-[#9ca3b1] text-[14px]'
                name='entry.1061557718'
              >
                <option value='' class='' disabled selected>Company Size</option
                >
                <option value='1-10'>1-10 employees</option>
                <option value='11-50'>11-50 employees</option>
                <option value='51-200'>51-200 employees</option>
                <option value='201-500'>201-500 employees</option>
                <option value='501-1000'>501-1000 employees</option>
                <option value='1001-5000'>1001-5000 employees</option>
                <option value='5001-10000'>5001-10,000 employees</option>
                <option value='10001+'>10,001+ employees</option>
              </select>
            </div>
            <div class='w-full flex flex-col justify-between'>
              <label
                class='text-base font-bold text-textblack'
                style='font-family: Arimo; '>{data.form.label5}</label
              >
              <select
                required
                id='option2'
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-10 p-2 text-[#9ca3b1] text-[14px]'
                name='entry.154861476'
              >
                <option value='' class='' disabled selected
                  >{data.form.placeholder5}</option
                >
                <option value='search Engine'>Search Engine</option>
                <option value='social Media'>Social Media</option>
                <option value='referral'>Referral</option>
                <option value='advertisement'>Advertisement</option>
                <option value='other'>Other</option>
              </select>
            </div>
            <div class='w-full h-32 flex flex-col justify-between mb-[15px]'>
              <label class='text-base font-bold text-textblack'
                >{data.form.label6}</label
              >
              <textarea
                required
                name='entry.1056515558'
                placeholder={data.form.placeholder6}
                class='custom-input border-[1px] border-[#E0E0E0] rounded-lg h-24 p-2 placeholder:text-sm'
                rows='20'
                cols='30'
                style='resize:none; margin-bottom: 10px;'></textarea>
            </div>
            <input type='hidden' name='entry.664159867' value='Get Started' />
            <button
              type='submit'
              class='bottom-0 bg-primary hover:bg-primaryHover w-full h-[50px] max-sm:h-[40px] justify-center duration-300 text-white font-bold rounded-lg shadow-md flex text-base items-center gap-x-2'
              style='font-family: Roboto;'
            >
              Get Started
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    id='Get-Started-Sucess'
    class='w-full min-h-screen bg-[#F8FAFC] flex justify-center flex-col items-center gap-10 py-20 hidden'
  >
    <img
      src='/assets/images/get-started-sucess.svg'
      alt='Sucess'
      class='w-[40%] max-sm:w-[90%]'
    />
    <p
      class='text-5xl font-semibold max-sm:text-3xl text-center w-[40%] max-sm:w-[90%]'
    >
      We will reach out to you within 30 days
    </p>
    <a
      href='/'
      class='h-[40px] w-[30%] max-sm:w-[50%] flex justify-center items-center text-white rounded-md bg-primary hover:bg-primaryHover'
    >
      Home</a
    >
  </div>
</Layout>

<script type='module'>
  document
    .getElementById('myForm')
    .addEventListener('submit', async function (event) {
      event.preventDefault()

      const formData = new FormData(this)
      const url =
        'https://docs.google.com/forms/u/0/d/e/1FAIpQLSeGjuyA_jjDmmT4jTY96s0CgCL_JKOJlNrTRqJ-9iqRmlEPKw/formResponse'

      try {
        const response = await fetch(url, {
          method: 'POST',
          mode: 'no-cors',
          body: formData
        })

        document.getElementById('Get-Started-Form').classList.add('hidden')
        document.getElementById('Get-Started-Sucess').classList.remove('hidden')
      } catch (error) {
        // Display error message
        console.error('Error:', error)
      }
    })
  document
    .getElementById('submit-another-form')
    .addEventListener('click', function () {
      return location.reload() // Reload the page
    })

  document.getElementById('option1').addEventListener('change', function () {
    this.style.color = '#303030'
  })
  document.getElementById('option2').addEventListener('change', function () {
    this.style.color = '#303030'
  })
</script>

<style>
  .custom-button:hover {
    background-color: #1dd0d5;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }

  .custom-input:focus {
    border-color: #1dd0d5; /* Change this to your desired focus color */
    outline: none; /* Remove the default outline */
  }

  input,
  select,
  textarea {
    margin-bottom: 20px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }

  label {
    margin-bottom: 2px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/assets/icons/Icon-select-down.svg') no-repeat 98.5% 50%;
  }

  @media (max-width: 750px) {
    .colcontainer {
      flex-direction: column;
      height: auto;
      column-gap: 20px;
    }
  }

  .flip-card {
    min-height: 600px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  }

  .flip-card-inner.flipped {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-back {
    position: absolute;
    top: 0;
  }

  .flip-card-back {
    height: 530px;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #15bec4;
    transform: rotateY(180deg);
    border-radius: 20px;
  }
</style>
