---
const { logo, title, image, link } = Astro.props
import { getEntry } from 'astro:content'
const Data = await getEntry('RunDataAnyCloud', 'data')
const button = Data.data.button2
---

<div class='container-top w-full py-24 flex justify-center items-start'>
    <div
        class='text-container w-2/5 bg-white flex flex-col items-start justify-start pl-10 pr-[3%]'
    >
        <div class='toplogo w-[40%] mb-1'>
            <img src={logo} alt='Logo' />
        </div>
        <div class='h-8'></div>
        <p
            class='centertitle text-calc font-bold text-start mb-10 text-textblack'
        >
            {title}
        </p>
        <a href={link} target='_blank'>
            <button
                class='bottombutton custom-button bg-white px-3 py-2 duration-300 text-[#30BABA] rounded-lg shadow-md flex text-base items-center gap-x-2 mb-2 hover:-translate-y-1'
                style='font-family: Roboto;'
            >
                {button}
                <img
                    class='button-img'
                    src='/assets/images/arrowright.svg'
                    alt='Arrow Right'
                />
            </button>
        </a>
    </div>
    <div class='img-container w-2/5 flex items-center justify-center'>
        <img class='image w-[30vw] h-[30vw]' src={image} />
    </div>
</div>
<style>
    .custom-button:hover {
        background-color: #30baba; /* Change button background color */
        color: white; /* Change text color */
    }

    .custom-button:hover .button-img {
        filter: brightness(0) invert(1);
    }
    @media (max-width: 440px) {
        .container-top {
            width: 100%;
            height: auto;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 30px;
            padding-bottom: 30px;
            flex-direction: column;
        }
        .text-container {
            width: 100%;
            margin-bottom: 20px;
        }
        .img-container {
            width: 100%;
            height: auto;
        }
        .image {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 90%;
            height: 200px;
        }
    }
</style>
