---
import { getEntry } from 'astro:content'
import Card from './Card.astro'

const Data = await getEntry('RunDataAnyCloud', 'data')
const data = Data.data.Section1
---

<div
  class='container-top flex flex-col gap-8 w-full min-h-screen bg-[#F6F6F6] items-center justify-center'
>
  <h2 class='text-calc font-bold text-textblack text-center'>
    {data.title}
  </h2> 
  <p
    class='w-[65%] max-sm:w-[90%] tracking-wide text-lg text-center max-sm:text-left text-textblack'
  >
    {data.description}
  </p>
  <div class='flex flex-wrap w-[80%] min-h-[300px]  justify-center items-center gap-8 max-sm:gap-4'>
    <Card
      image='/assets/images/flexibilityrundataanycloud.png'
      title={data.feature1.title}
      description={data.feature1.description}
    />
    <Card
      image='/assets/images/scalability.png'
      title={data.feature2.title}
      description={data.feature2.description}
    />
    <Card
      image='/assets/images/Interoperability.png'
      title={data.feature3.title}
      description={data.feature3.description}
    />
    <Card
      image='/assets/images/cost-efficiency.png'
      title={data.feature4.title}
      description={data.feature4.description}
    />
  </div>
</div>
<style>
  .card:hover .image-container {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 440px) {
    .container-top {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: column;
      height: auto;
    }
    
  }
</style>
