---
import { getEntry } from 'astro:content'
import Animatecard from './Animatecard.astro'
const Data = await getEntry('RunDataAnyCloud', 'data')
const data = Data.data.Section2
const button = Data.data.button1
---

<div
  class='container-top w-full py-24 py-[5%] flex items-center justify-center'
>
  <div class='text-container w-2/5 h-full mt-10'>
    <h1 class='text-calc font-bold mb-[5%] text-textblack'>{data.title}</h1>
    <p class='2xl:text-lg w-11/12 xl:text-base text-textblack'>
      {data.description}
    </p>
    <a href='/GetStartedForm'>
      <button
        class='custom-button bg-secondary px-3 py-2 duration-700 text-white rounded-lg shadow-md flex text-base items-center gap-x-2 mt-14 hover:-translate-y-1'
        style='font-family: Roboto;'
        >{button}<img class='button-img' src='/assets/images/arrowright.svg' />
      </button></a
    >
  </div>
  <div
    class='card-container w-2/5 h-full flex justify-evenly items-evenly flex-wrap mt-5 gap-10'
  >
    <Animatecard
      image='/assets/images/realtimeprocessing.png'
      title={data.feature1.title}
      description={data.feature1.description}
    />
    <Animatecard
      image='/assets/images/batchprocessing.png'
      title={data.feature2.title}
      description={data.feature2.description}
    />
    <Animatecard
      image='/assets/images/autoscaling.png'
      title={data.feature3.title}
      description={data.feature3.description}
    />
    <Animatecard
      image='/assets/images/streamandbatchanalytics.png'
      title={data.feature4.title}
      description={data.feature4.description}
    />
  </div>
</div>
<div class='py-10 w-full'>
  <h3 class='text-calc font-bold text-center text-textblack'>{data.title2}</h3>
</div>
<style>
  @media (max-width: 440px) {
    .container-top {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: column;
      height: auto;
    }
    .text-container {
      width: 100%;
      margin-bottom: 20px;
    }
    .card-container {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 15px;
    }
  }
  .custom-button:hover {
    background-color: #30baba;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }
</style>
