---
const { title, description, button, image, href, color, mirror = false } = Astro.props
---

<div
  class=`responsive-container min-h-screen transition-all duration-1000 py-32 w-full bg-[${color.normal}] flex ${mirror && 'flex-row-reverse gap-32'} items-center justify-center group hover:bg-[${color.hover}]`
>
  <div
    class='content-container md:w-2/6 w-full flex flex-col justify-center items-start px-3 py-4'
  >
    <h3
      class=`textphone transition-all duration-1000 ease-in-out text-2calc text-textblack font-bold mb-[5%] ${!mirror && 'group-hover:text-white'} w-4/5 max-sm:pl-[10px]`
    >
      {title}
    </h3>
    <p
      class=`textphone transition-all duration-1000 ease-in-out text-textblack text-lg ${!mirror && 'group-hover:text-white'} w-full md:w-4/5 max-sm:pl-[10px]`
    >
      {description}
    </p>
    <a href={href}>
      <button
        class='custom-button2 transition-all duration-400 ease-in-out text-[#30BABA] flex items-center justify-center bg- text-base gap-x-1 mt-14 max-sm:mt-6 h-10 w-32 group-hover:bg-[#feecec] group-hover:shadow-md group-hover:rounded-lg'
        style='font-family: Roboto;'
      >
        {button}
        <img src='/assets/images/arrowright.svg' height='20px' width='20px' />
      </button>
    </a>
  </div>
  <div
    class='image-container py-10 h-auto md:w-2/6 w-full flex flex-col justify-start items-center md:items-end'
  >
    <img
      src={image}
      class='h-[78%] w-[90%] transition-all duration-1000 ease-in-out group-hover:scale-125'
    />
  </div>
</div>

<style>
  .custom-button2:hover {
    background-color: #ffffff; /* Change button background color */
  }

  @media (max-width: 500px) {
    .responsive-container {
      flex-direction: column-reverse;

      padding-top: 90px;
      padding-bottom: 90px;
    }
    .content-container {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .image-container {
      width: 80%;
      margin-top: 20px;
    }
    .textphone {
      width: 95%;
    }
  }
</style>
