---
import { getEntry } from "astro:content";
import Card from "../RunDataAnyCloud/Card.astro";

const Data = await getEntry("ManageYourData", "manageyourdata");
const data = Data.data.section1
---
<div class=" container-top w-full py-24 bg-[#F6F6F6] px-[7%]  flex flex-col items-center justify-center">
    <h2 class="text-calc font-bold pb-8 text-center text-textblack" style="font-family: Arimo;">{data.title}</h2>
    <p class="2xl:text-lg 2xl:w-3/4 lg:w-4/5 lg:text-base text-center pb-16 text-textblack" style="font-family:Arimo;">{data.description}</p>
    <div class=" card-container w-11/12   flex flex-wrap gap-y-3  justify-evenly">
       <Card image="/assets/images/manageyourdatafeature1.png" title={data.featuretitle1} description={data.featuredescription1}></Card>
       <Card image="/assets/images/manageyourdatafeature2.png" title={data.featuretitle2} description={data.featuredescription2}></Card>
       <Card image="/assets/images/manageyourdatafeature3.png" title={data.featuretitle3} description={data.featuredescription3}></Card>
    </div>
</div>
<style>
.card:hover .image-container {
    filter: brightness(0) invert(1);
}
@media (max-width:440px) {
     .container-top{
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
        flex-direction:column;
        height: auto;
     }
    .card-container{
      flex-direction: column;
      align-items: center; 
      row-gap: 15px;
    }
}
  
</style>