---
import { getEntry } from 'astro:content'
import Card from '../run-data-on-any-cloud/Card.astro'

const Data = await getEntry('features', 'manage-your-data-connections')
const data = Data.data.why_data_connection_matters
const features = data.features || []
---

<div
  class='w-full py-24 bg-[#F8FAFC] px-[7%] flex flex-col items-center justify-center max-sm:flex-col max-sm:px-[20px] max-sm:py-[30px]'
>
  <h2
    class='text-calc font-bold mb-8 max-sm:mb-6 text-center max-md:text-2xl max-sm:text-left text-textblack'
  >
    {data.title}
  </h2>
  <p
    class='2xl:text-lg 2xl:w-3/4 lg:w-3/5 lg:text-base text-center max-sm:text-left pb-16 max-sm:pb-6 text-textblack'
  >
    {data.description}
  </p>
  <div class='card-container mt-10 flex gap-10 flex-wrap justify-evenly max-sm:flex-col max-sm:items-center'>
    {
      features.map((feature) => (
        <Card
          image={feature.image}
          title={feature.title}
          description={feature.description}
          class='transition duration-300 hover:brightness-110'
        />
      ))
    }
  </div>
</div>
