---
import { getEntry } from "astro:content";

const Data = await getEntry("features", "manage-your-data-connections");
const data = Data.data.core_features;
const button = data.button;
import Card from "../run-data-on-any-cloud/Card.astro";
import CustomButton from "../../common/CustomButton.astro";
const features = data.features || [];
---

<div
  class="lg:h-[90vh] bg-[#F8FAFC] w-full py-24 flex items-start justify-between max-md:flex-col max-md:px-[20px] max-smdm:py-[30px]"
>
  <div class="md:w-1/2 w-full h-full flex justify-end items-center">
    <div class="lg:w-2/3">
      <h1 class="text-4xl md:text-5xl font-bold mb-10 text-textblack">
        {data.title}
      </h1>
      <p class="text-lg text-textblack max-w-[560px] leading-relaxed">
        {data.description}
      </p>
      <CustomButton 
        label={button.label}
        href={button.href}
        className="mt-10"
      />
    </div>
  </div>

  <div class="md:w-1/2 w-full flex justify-center max-md:mt-10">
    <div class="img-container grid grid-cols-2 gap-8 w-[620px]">
      {
        features.map((feature) => (
          <Card
            image={feature.image}
            title={feature.title}
            description={feature.description}
          />
        ))
      }
    </div>
  </div>
</div>
<style>
  
  @media (max-width: 768px) {
    .img-container {
      max-width: 100%;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 12px;
    }
  }

  @media (max-width: 440px) {
    .img-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 12px;
    }
  }
</style>
