---
import { getEntry } from 'astro:content'

const Data = await getEntry('features', 'manage-your-data')
const data = Data.data.section3
const button = Data.data.button
import ImageCard from './ImageCard.astro'
---

<div
  class=' min-h-screen bg-[#F8FAFC] w-full py-24 flex items-center justify-center max-sm:flex-col max-sm:px-[20px] max-sm:py-[30px]'
>
  <div class='text-container w-2/5'>
    <h1 class='text-2calc font-bold mb-8 text-textblack'>{data.title}</h1>
    <p class='text-lg w-10/12 text-textblack'>{data.description}</p>
    <a href='/start-free-trail'>
      <button
        class='custom-button bg-primary hover:bg-[#30baba] px-3 py-2 text-white rounded-lg shadow-md flex text-base items-center gap-x-2 mt-14'
        style='font-family: Roboto;'
      >
        {button}
        <img
          class='button-img'
          src='/assets/images/arrowright.svg'
          alt='Arrow right'
        />
      </button>
    </a>
  </div>
  <div
    class='w-2/5 img-container flex flex-row flex-wrap items-between justify-between max-sm:my-10'
  >
    <ImageCard
      image='/assets/images/manageyourdatasection3image1.png'
      title={data.image1}
    />
    <ImageCard
      image='/assets/images/manageyourdatasection3image2.png'
      title={data.image2}
    />
    <ImageCard
      image='/assets/images/manageyourdatasection3image3.png'
      title={data.image3}
    />
    <ImageCard
      image='/assets/images/manageyourdatasection3image4.png'
      title={data.image4}
    />
  </div>
</div>
<style>
  .custom-button:hover {
    background-color: #30baba;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 440px) {
    .text-container {
      width: 100%;
      margin-bottom: 20px;
    }
    .img-container {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
      height: auto;
    }
  }
</style>
