---
import { getEntry } from "astro:content";
const Data = await getEntry("common", "header-footer");
const footer = Data.data.footer;
const docsUrl = import.meta.env.VITE_DOCS_URL;
---

<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    rel="stylesheet"
  />
</head>
<footer class="">
  <!-- Footer -->
  <div
    class="footer-container max-md:hidden bg-gray-900 w-full flex flex-col gap-1 pt-[40px] pb-[32px] px-[80px] max-md:px-10 text-white"
  >
    <div class="w-full flex max-sm:flex-col justify-start py-[4px]">
      <a href="/"
        ><img
          src="/assets/images/dataflow-logo-green.svg"
          class="h-[56px] ml-4"
        /></a
      >
    </div>
    <div class="flex">
      <div class="p-[20px] flex-1 flex flex-col">
        <p
          class="text-xs px-[4px] text-wrap leading-relaxed tracking-wide text-[#F8FAFC]"
        >
          {footer.description}
        </p>
        <div class="my-[16px] flex items-center">
          {
            footer.social_links &&
              footer.social_links.map((social) => (
                <a
                  href={social.url}
                  target="_blank"
                  class="size-8 rounded-full bg-[#30baba31] hover:bg-[#007F7F] mx-1 flex justify-center items-center"
                >
                  <img src={social.icon} alt={social.platform} class="size-4" />
                </a>
              ))
          }
        </div>
        <p class="text-xs">{footer.copyrights}</p>
      </div>
      {
        footer.sections &&
          footer.sections.map((section) => (
            <div class="p-[20px] flex-1 flex flex-col">
              <p class="font-semibold text-base">{section.heading}</p>
              <div class="text-xs text-[#F8FAFC] w-[80%]">
                {section.links &&
                  section.links.map((link) => (
                    <a class="hover:text-primary" href={link.href}>
                      <p class="my-2">{link.label}</p>
                    </a>
                  ))}
              </div>
            </div>
          ))
      }
    </div>
  </div>

  <!-- Mobile Footer -->
  <div
    class="footer-container hidden max-md:flex bg-gray-900 w-full flex-col gap-1 pt-[40px] pb-[32px] px-[80px] text-white"
  >
    <div
      class="w-full flex max-sm:flex-col justify-center max-md:items-center py-[4px]"
    >
      <a href="/"
        ><img
          src="/assets/images/dataflow-logo-green.svg"
          class="h-[56px]"
        /></a
      >
    </div>
    <div class="flex max-md:flex-col">
      {
        footer.sections &&
          footer.sections.map((section) => (
            <div class="p-1 py-4 flex-1 flex flex-col">
              <button class="accordion-btn font-semibold text-base">
                {section.heading}
                <i class="accordion-arrow fas fa-chevron-down" />
              </button>
              <div class="accordion-content text-xs text-[#F8FAFC] w-[80%]">
                {section.links &&
                  section.links.map((link) => (
                    <a class="hover:text-primary" href={link.href}>
                      <p class="my-[16px]">{link.label}</p>
                    </a>
                  ))}
              </div>
            </div>
          ))
      }
    </div>
    <div class="p-1 py-4 flex-1 flex flex-col">
      <p
        class="text-xs px-1 text-wrap leading-relaxed tracking-wide text-[#F8FAFC]"
      >
        {footer.description}
      </p>
      <div class="my-4 flex items-center">
        {
          footer.social_links &&
            footer.social_links.map((social) => (
              <a
                href={social.url}
                target="_blank"
                class="size-8 rounded-full bg-[#30baba31] hover:bg-[#007F7F] mx-1 flex justify-center items-center"
              >
                <img src={social.icon} alt={social.platform} class="size-4" />
              </a>
            ))
        }
      </div>
      <p class="text-xs">{footer.copyrights}</p>
    </div>
  </div>
</footer>

<style>
  @media (max-width: 500px) {
    footer {
      flex-direction: column;
    }

    .footer-container {
      flex-direction: column;
      padding: 20px;
    }

    .footer-container > div {
      width: 100%;
      padding: 10px 0;
    }

    .footer-container .first-section {
      order: 5;
    }

    .footer-container a p:hover {
      color: var(--test-primary);
    }
  }

  .accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }

  .accordion-content.open {
    max-height: max-content; /* Adjust based on expected maximum height */
  }

  .accordion-btn {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion-arrow {
    transition: transform 0.3s ease;
  }

  .accordion-btn .accordion-arrow.rotate {
    transform: rotate(180deg); /* Rotates the arrow to point upwards */
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const accordionButtons = document.querySelectorAll(".accordion-btn");

    accordionButtons.forEach((btn) => {
      btn.addEventListener("click", () => {
        const content = btn.nextElementSibling;
        const arrow = btn.querySelector(".accordion-arrow");

        if (content.classList.contains("open")) {
          content.classList.remove("open");
          // content.style.maxHeight = '0'
          content.classList.add("max-h-[0]");
          arrow.classList.remove("fa-chevron-up");
          arrow.classList.add("fa-chevron-down");
        } else {
          // Close any other open accordion
          document
            .querySelectorAll(".accordion-content.open")
            .forEach((openContent) => {
              openContent.classList.remove("open");
              // openContent.style.maxHeight = '0'
              openContent.classList.add("max-h-[0]");
            });

          document
            .querySelectorAll(".accordion-arrow.fa-chevron-up")
            .forEach((openArrow) => {
              openArrow.classList.remove("fa-chevron-up");
              openArrow.classList.add("fa-chevron-down");
            });

          content.classList.add("open");
          // content.style.maxHeight = content.scrollHeight + 'px'
          content.classList.remove(`max-h-[${content.scrollHeight}px]`);
          arrow.classList.remove("fa-chevron-down");
          arrow.classList.add("fa-chevron-up");
        }
      });
    });
  });
</script>
