---
import { getEntry } from 'astro:content'
import CustomButton from './CustomButton.astro'

interface Props {
  title?: string
  description?: string
  image?: string
  imageAlt?: string
  buttonText?: string
  buttonHref?: string
  buttonTarget?: "_blank" | "_self"
  imageSide?: 'left' | 'right'
  bg?: 'white' | 'F8FAFC'
  hideImageOnMobile?: boolean
}

const p = Astro.props as Props || {}

let title = p.title
let description = p.description
let image = p.image
let imageAlt = p.imageAlt
let buttonText = p.buttonText
let buttonHref = p.buttonHref
let buttonTarget = p.buttonTarget
let imageSide = p.imageSide ?? 'right'
let bg = p.bg ?? 'white'
let hideImageOnMobile = p.hideImageOnMobile ?? false

if (!title && !description) {
  const Data = await getEntry('features', 'python-dependency-hell')
  const data = Data.data
  title = data.title
  description = data.description
  buttonText = buttonText ?? data.cta_text
  buttonHref = buttonHref ?? data.cta_link ?? 'https://docs.dataflow.zone/get-started/introduction-to-dataflow/'
  image = image ?? data.image ?? '/assets/images/python-dependency.svg'
  imageAlt = imageAlt ?? data.title ?? 'hero'
}

const bgClass = bg === 'F8FAFC' ? 'bg-[#F8FAFC]' : 'bg-white'
const reverseOnMd = imageSide === 'left' ? 'md:flex-row-reverse' : 'md:flex-row'
---

<div class={`relative w-full px-[10%] ${bgClass}`}>
  <div class={`max-w-7xl mx-auto min-h-[80vh] w-full py-10 pt-16 flex flex-col md:${reverseOnMd} md:flex-row items-center justify-center gap-10 max-sm:flex-col max-sm:py-[30px] max-sm:px-4 max-sm:justify-start max-sm:items-start max-sm:min-h-max max-sm:pt-28`}>
  <div class="absolute left-0 top-0 z-1" data-aos="fade-right" data-aos-duration="700" data-aos-offset="200">
    <img src="/assets/images/dataflow-bg-pattern.svg" alt="dataflow-bg-pattern" />
  </div>

  <div data-aos="fade-right" data-aos-duration="700" data-aos-offset="200" class="md:w-1/2 w-full flex flex-col gap-8 max-sm:px-2 z-10 max-w-[640px]">
    <h1 class="text-5xl max-md:text-4xl max-sm:text-2xl leading-snug tracking-wide font-bold text-black">
      {title}
    </h1>
    {description && (
      <p class="text-lg max-sm:text-sm text-textblack leading-tight">
        {description}
      </p>
    )}

    {buttonText ? (
      <CustomButton href={buttonHref ?? '#'} label={buttonText} target={buttonTarget ?? "_self"} />
    ) : null}
  </div>

  {image ? (
    <div data-aos="fade-left" data-aos-duration="700" data-aos-offset="200" class={`z-10 max-sm:mt-10 ${hideImageOnMobile ? 'max-md:hidden' : ''} md:block md:w-1/2 pt-10 w-full flex justify-center`}>
      <img src={image} alt={imageAlt ?? title} class="transition-all duration-400 ease-in-out rounded-lg w-full max-w-[640px] object-contain" />
    </div>
  ) : null}
  </div>
</div>

