---
import { getEntry } from 'astro:content'
import CustomButton from './CustomButton.astro'

interface Props {
  title?: string
  description?: string
  image?: string
  imageAlt?: string
  buttonText?: string
  buttonHref?: string
  buttonTarget?: "_blank" | "_self"
  imageSide?: 'left' | 'right'
  bg?: 'white' | 'F8FAFC'
  hideImageOnMobile?: boolean
}

const p = Astro.props as Props || {}

let title = p.title
let description = p.description
let image = p.image
let imageAlt = p.imageAlt
let buttonText = p.buttonText
let buttonHref = p.buttonHref
let buttonTarget = p.buttonTarget
let imageSide = p.imageSide ?? 'right'
let bg = p.bg ?? 'white'
let hideImageOnMobile = p.hideImageOnMobile ?? false

if (!title && !description) {
  const Data = await getEntry('features', 'python-dependency-hell')
  const data = Data.data
  title = data.title
  description = data.description
  buttonText = buttonText ?? data.cta_text
  buttonHref = buttonHref ?? data.cta_link ?? 'https://docs.dataflow.zone/getting-started/installation'
  image = image ?? data.image ?? '/assets/images/python-dependency.svg'
  imageAlt = imageAlt ?? data.title ?? 'hero'
}

const bgClass = bg === 'F8FAFC' ? 'bg-[#F8FAFC]' : 'bg-white'
const reverseOnMd = imageSide === 'left' ? 'md:flex-row-reverse' : 'md:flex-row'
---

<div class={`container-top min-h-screen w-full py-10 pt-16 flex flex-col md:${reverseOnMd} md:flex-row items-center justify-center ${bgClass} max-sm:flex-col max-sm:py-[30px] max-sm:px-[20px] max-sm:justify-start max-sm:items-start max-sm:min-h-max`}>
  <div class="absolute left-0 top-0 z-1">
    <img src="/assets/images/dataflow-bg-pattern.svg" alt="dataflow-bg-pattern" />
  </div>

  <div class="md:w-2/5 w-full flex flex-col gap-8 px-6 max-sm:px-2 max-md:w-[90%] z-10">
    <h1 class="text-5xl max-md:text-4xl max-sm:text-2xl leading-snug tracking-wide font-bold text-black">
      {title}
    </h1>
    {description && (
      <p class="text-lg max-sm:text-sm text-textblack leading-tight max-w-[680px]">
        {description}
      </p>
    )}

    {buttonText ? (
      <CustomButton href={buttonHref ?? '#'} label={buttonText} target={buttonTarget ?? "_self"} />
    ) : null}
  </div>

  {image ? (
    <div class={`img-container  z-10 max-sm:mt-10 ${hideImageOnMobile ? 'max-md:hidden' : ''} md:block md:w-2/5 w-full flex justify-center px-6`}>
      <img src={image} alt={imageAlt ?? title} class="transition-all duration-400 ease-in-out rounded-lg w-full object-contain" />
    </div>
  ) : null}

</div>

<style>
  .custom-button:hover {
    background-color: #30baba;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }

  @media (max-width: 768px) {
    .container-top { padding-top: 32px }
  }

  @media (max-width: 440px) {
    .img-container { display: block }
  }
</style>
