---
import CustomButton from './CustomButton.astro';

interface Props {
  title: string;
  description?: string;
  image?: string;
  imageAlt?: string;
  buttonText?: string;
  buttonHref?: string;
  buttonTarget?: "_blank" | "_self";
  imageSide?: "left" | "right";
  bg?: "white" | "F8FAFC";
}

const {
  title,
  description = "",
  image = "",
  imageAlt = title ?? "image",
  buttonText,
  buttonHref = "#",
  buttonTarget = "_self",
  imageSide = "right",
  bg = "white",
} = Astro.props as Props;

const bgClass = bg === "F8FAFC" ? "bg-[#F8FAFC]" : "bg-white";
const reverseOnMobile =
  imageSide === "left" ? "md:flex-row-reverse" : "md:flex-row";
---

<section
  class={`w-full px-[10%]   py-20 lg:min-h-[70vh] flex items-center justify-between max-sm:px-4 ${bgClass}`}
>
    <div
      class={`flex-1 w-full flex flex-col md:flex ${reverseOnMobile} items-center justify-center gap-15 lg:gap-20 `}
    >
      <!-- Text Column -->
      <div
        class="md:max-w-[700px] w-full flex flex-col justify-center gap-4"
        data-aos="fade-up"
        data-aos-duration="700"
        data-aos-offset="200"
        style="max-width: clamp(400px, 48vw, 600px);"
      >
        <h2
          class="lg:text-4xl w-full font-bold text-textblack leading-tight mb-6"
          style="margin:0;"
        >
          {title}
        </h2>
        {
          description && (
        <p
          class="text-xl text-gray-600 mb-8"
        >
          {description}
        </p>
          )
        }
        {
          buttonText && (
        <CustomButton href={buttonHref} label={buttonText} target={buttonTarget} />
          )
        }
      </div>

      <!-- Image Column -->
      <div
        class="w-max flex justify-center md:justify-end px-1"
        
      >
        {
          image ? (
            <img
              src={image}
              alt={imageAlt}
              loading="lazy"
              class="rounded-xl object-contain w-[clamp(400px,48vw,650px)] max-w-full"
              data-aos="fade-up" data-aos-duration="600" data-aos-offset="300"
            />
          ) : null
        }
      </div>
    </div>
</section>