---
const { image, title, description, bg, height = null, width = null, href = null , label = null, target = "_self" } = Astro.props
---

<div
  class={`card transition-all duration-200 ease-in-out ${width ? `w-[${width}]` : ''} ${height ? `h-[${height}]` : ''} min-w-[260px] min-h-[260px] p-7 py-6 text-textblack ${bg ? bg : "bg-white"} border border-gray-200 hover:border-primary/50 hover:shadow-md flex flex-col gap-2 items-start justify-evenly rounded-[28px] max-sm:rounded-3xl group`}
>
  <div class='size-[40px] max-sm:my-1 max-sm:size-[30px] bg-gray-50 rounded-lg border border-gray-100 flex items-center justify-center'>
    <img src={image} alt={title} class='w-7 h-7 object-contain' />
  </div>
  <h3 class='text-xl max-sm:my-1 max-sm:text-lg font-semibold'>
    {title}
  </h3>
  <p class='text-base  max-sm:my-1 max-sm:text-xs'>
    {description}
  </p>
  {
    href && label && (
      <a href={href} class='mt-2 text-primary hover:underline inline-flex items-center gap-1' target={target} title={title}>
        {label}
        <img src='/assets/images/arrowright.webp' alt='Arrow right' class='inline-block w-4 h-4' />
      </a>
    )
  }
</div>
<style>
  @media (max-width: 500px) {
    .card {
      width: 100%;
      padding: 15px;
      height: auto;
    }
  }
</style>
