---
const { logo, title, image } = Astro.props
import { getEntry } from 'astro:content'
import Card from './Card.astro'
const Data = await getEntry('features', 'run-data-on-any-cloud')
const data = Data.data.Section6
---

<div
  class='container-top min-h-screen w-full flex justify-center max-sm:flex-col items-center gap-4 max-sm:gap-0'
>
  <div
    class='img-container w-2/5 max-sm:w-full flex items-center justify-center py-24 max-sm:py-2'
  >
    <img
      class='image size-[32vw] max-sm:scale-110 rounded-3xl'
      src='/assets/images/privatecloud.png'
    />
  </div>
  <div
    class='text-container w-2/5 flex flex-col items-center justify-center py-20 max-sm:py-8 pr-[3%] overflow-hidden'
  >
    <h2 class='text-2calc leading-tight font-bold pb-[2%] text-textblack'>
      {data.title}
    </h2>
    <p class='text-lg mb-10 text-textblack'>
      {data.description}
    </p>
    <div class='card-container flex justify-between gap-6 w-full'>
      <Card
        image='/assets/images/flexibilityrundataanycloud.png'
        title={data.feature1.title}
        description={data.feature1.description}
        bg='bg-[#F8FAFC]'
      />
      <Card
        image='/assets/images/security.png'
        title={data.feature2.title}
        description={data.feature2.description}
        bg='bg-[#F8FAFC]'
      />
    </div>
  </div>
</div>
<style>
  .custom-button:hover {
    background-color: #30baba; /* Change button background color */
    color: white; /* Change text color */
  }

  .custom-button:hover .button-img {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 500px) {
    .container-top {
      width: 100%;
      height: auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: column;
    }
    .text-container {
      width: 100%;
    }
    .img-container {
      width: 100%;
      height: auto;
    }
    .image {
      margin-bottom: 20px;
      width: 90%;
      height: 200px;
    }
    .card-container {
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
    }
  }
</style>
