---
import { getEntry } from "astro:content";
import CustomButton from "../../common/CustomButton.astro";

const Data = await getEntry("features", "run-data-on-any-cloud");
const data = Data.data.top_section;
const logos = data.company_logos.logos || [];
---

<div
  class="container-top min-h-screen w-full py-32 px-[10%] flex items-center justify-center max-sm:flex-col max-sm:py-24 max-sm:min-h-max"
  
>
  <div class="absolute left-0 top-0 z-[-1]" data-aos="fade-right" data-aos-duration="850" data-aos-offset="200">
    <img
      src="/assets/images/dataflow-bg-pattern.svg"
        alt="Abstract dataflow background pattern"
    />
  </div>
  <div class="w-2/5 flex flex-col gap-8 max-md:w-[90%]" data-aos="fade-right" data-aos-duration="850" data-aos-offset="200">
    <h1
      class="text-6xl max-md:text-5xl max-sm:text-2xl leading-snug tracking-wide font-bold text-black"
    >
      {data.title}
    </h1>
    <p class="text-lg max-sm:text-sm w-11/12 text-textblack leading-tight">
      {data.description}
    </p>
    <CustomButton href={"https://docs.dataflow.zone/get-started/introduction-to-dataflow/"} label={data.cta_text} target="_blank" />
  </div>
  <div class="img-container max-md:hidden w-2/5 bg-white h-auto" data-aos="fade-left" data-aos-duration="850" data-aos-offset="200">
    <img
      src="/assets/images/runanycloud.webp"
      alt="Run on Any Cloud"
      class="transition-all duration-400 ease-in-out group-hover:scale-125"
    />
  </div>
</div>

<div class="h-[200px] w-full flex flex-col justify-center items-center" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200">
  <div>
    <h2 class="text-4xl max-sm:text-xl font-bold text-black mb-10 text-center">
      {data.company_logos.title}
    </h2>
  </div>
  <div
    class="z-10 w-[70%] max-sm:w-full overflow-x-hidden h-max flex items-center justify-center relative lg:mt-10 max-sm:scale-75"
  >
    <!-- Infinite Scrolling effect -->
    <div
      class="h-full w-24 max-sm:w-6 bg-gradient-to-r from-white to-white/10 absolute top-0 left-0 z-40"
    >
    </div>
    <div
      class="h-full w-24 max-sm:w-6 bg-gradient-to-r to-white from-white/10 absolute top-0 right-0 z-40"
    >
    </div>

    <!-- Company logos with dynamic map -->
    <div class="scroll imgBox z-0 scroll-time-20">
      <div class="flex items-baseline gap-10">
        {logos.map((logo) => <img src={logo.image} alt={logo.alt} />)}
        {logos.map((logo) => <img src={logo.image} alt={logo.alt} />)}
      </div>
      <div class="flex items-baseline gap-10 ml-10">
        {logos.map((logo) => <img src={logo.image} alt={logo.alt} />)}
        {logos.map((logo) => <img src={logo.image} alt={logo.alt} />)}
      </div>
    </div>
  </div>
</div>
