---
import Layout from '../../layouts/Layout.astro'
import TopSection from '../../components/common/TopSection.astro'
import TwoColumnSection from '../../components/common/TwoColumnSection.astro'
import { getEntry } from 'astro:content'
import Testimonial from '../../components/common/Testimonial.astro'
import CTASection from '../../components/common/CTASection.astro'
import Card from '../../components/blog/Card.astro'

const Data = await getEntry('startups-smes', 'startups-smes')
const top = Data?.data?.top_section || {}
const meta_description = top.description ?? 'Data Infrastructure for Startups and SMEs'
const sections = Data?.data?.sections || []
const cta = Data?.data?.cta_section || {}
---

<Layout title={`Startups & SMEs Data Platform | Dataflow for Teams`} meta_description={meta_description}>
	<TopSection
		title={top.title}
		description={top.description}
		image={top.hero_image}
		buttonText={top.button?.label}
		buttonHref={top.button?.href}
		imageSide="right"
		bg="white"
	/>
	{
		sections.map((sec, idx) => (
			<TwoColumnSection
				title={sec.title}
				description={sec.description}
				image={sec.image}
				imageSide={sec.imageSide ?? 'right'}
			/>
		))
	}
	<Testimonial />
	<CTASection
		title={cta.title}
		description={cta.description}
		buttonText={cta.button?.text}
		formId="startupsCtaForm"
		pageSource="startups-smes-cta"
		note={cta.note}
	/>
	<section class='px-[5%] pb-16 bg-white'>
		<div class='max-w-5xl mx-auto text-center text-sm text-gray-600'>
			For growing teams, start with <a href='/product/shared-foundation' class='text-primary hover:text-primaryHover underline underline-offset-2'>Shared Foundation</a> and <a href='/product/managed-dependencies' class='text-primary hover:text-primaryHover underline underline-offset-2'>Managed Dependencies</a>, then review <a href='/pricing' class='text-primary hover:text-primaryHover underline underline-offset-2'>Pricing</a> or <a href='/book-demo' class='text-primary hover:text-primaryHover underline underline-offset-2'>Book a Demo</a> for implementation guidance.
		</div>
	</section>
</Layout>
